/* @font-face {
	font-family: "silkscreen";
	src: local("silkscreen"), url(./slkscr.ttf) format("truetype");
} */
@font-face {
	font-family: "pixeboy";
	src: local("pixeboy"), url(./pixeboy.ttf) format("truetype");
}

.right.menu {
	display: flex;
	align-items: center;
}

.right.menu > div {
	display: flex;
	align-items: center;
}

.right.menu > a {
	align-self: center !important;
}

.right.menu > a:hover {
	font-size: 14px;
	color: #4183c4 !important;
}

div.ui.celled.list {
	display: flex;
	flex-wrap: wrap;
}

.ui.celled.list > .item {
	display: flex !important;
	flex-direction: column;
	position: relative;
	padding: 0px !important;
	/* border: 1px solid rgba(34, 36, 38, 0.15); */
	border-radius: 5px;
	margin: 5px;
	width: 135px;
	/* flex: 1; */
}

.ui.celled.list > .item > .content {
	padding-left: 0;
}

.ui.celled.list > .item > .content > .header {
	padding: 5px 0;
}

.ui.celled.list > .item,
.ui.celled.list > .item:last-child {
	border-top: none !important;
	border-bottom: none !important;
}

body .ui.list > .item > i.icon {
	content: "";
	display: block;
	background-size: cover;
	height: 180px;
	width: 135px;
	padding-right: 0px;
	align-self: center;
}

.item:nth-child(1) i {
	background: url("./16.jpeg");
}
.item:nth-child(2) i {
	background: url("./12.jpeg");
}
.item:nth-child(3) i {
	background: url("./3.jpeg");
}
.item:nth-child(4) i {
	background: url("./4.jpeg");
}
.item:nth-child(5) i {
	background: url("./5.jpeg");
}
.item:nth-child(6) i {
	background: url("./6.jpeg");
}
.item:nth-child(7) i {
	background: url("./7.jpeg");
}
.item:nth-child(8) i {
	background: url("./8.jpeg");
}
.item:nth-child(9) i {
	background: url("./9.jpeg");
}
.item:nth-child(10) i {
	background: url("./10.jpeg");
}
.item:nth-child(11) i {
	background: url("./11.jpeg");
}
.item:nth-child(12) i {
	background: url("./2.jpeg");
}
.item:nth-child(13) i {
	background: url("./13.jpeg");
}
.item:nth-child(14) i {
	background: url("./14.jpeg");
}
.item:nth-child(15) i {
	background: url("./15.jpeg");
}
.item:nth-child(16) i {
	background: url("./1.jpeg");
}
.item:nth-child(17) i {
	background: url("./17.jpg");
}
.item:nth-child(18) i {
	background: url("./18.jpg");
}
.item:nth-child(19) i {
	background: url("./19.jpg");
}
.item:nth-child(20) i {
	background: url("./20.jpg");
}
.item:nth-child(21) i {
	background: url("./21.jpg");
}
.item:nth-child(22) i {
	background: url("./22.jpg");
}
.item:nth-child(23) i {
	background: url("./23.jpg");
}
.item:nth-child(24) i {
	background: url("./24.jpg");
}
.item:nth-child(25) i {
	background: url("./25.jpg");
}
.item:nth-child(26) i {
	background: url("./26.jpg");
}

#root > div > div > div.ui.secondary.pointing.menu > a {
	font-family: pixeboy;
	font-size: 30px;
	padding: 8px;
	text-shadow: 0px -3px 1px #ffcbe2;
	filter: drop-shadow(0px 3px 1px #b4f3e6);
}

.item > i:before {
	display: none !important;
}

.item .right.floated.content {
	position: absolute;
	top: 5px;
	right: 3px;
}

.item .right.floated.content a {
	padding: 0;
	background-color: inherit;
	color: rgba(0, 0, 0, 0);
	font-size: 1px;
}

.item .right.floated.content a:first-of-type:before {
	content: "✎";
	color: white;
	font-size: 12px;
	padding-right: 5px;
}

.item .right.floated.content a:nth-child(2):before {
	content: "✕";
	color: white;
	font-size: 12px;
}

body .ui.list > .item .description {
	font-family: Lato, "Helvetica Neue", Arial, Helvetica, sans-serif;
	font-size: 13px;
	color: black !important;
	text-shadow: -1px -1px 2px #ffcbe2;
	filter: drop-shadow(1px 1px 2px #b4f3e6);
}

h2 {
	display: none;
}

div.ui.celled.list {
	justify-content: space-between;
}

video {
	width: 100%;
	height: 400px;
	opacity: 0.7;
}
